---
env:
  CARGO_TERM_COLOR: always
permissions:
  id-token: write
  contents: read
jobs:
  test:
    name: Run tests
    runs-on: ubuntu-latest
    steps:
    - name: Checkout the repository
      uses: actions/checkout@v4
    - name: Initialize env file
      run: |
        touch .env.test
        echo TWITCH_CLIENT_ID="client-id" >> .env.test
        echo TWITCH_EVENTSUB_SUBSCRIPTION_SECRET="chickencoop" >> .env.test
        echo TWITCH_CHANNEL_ID="test_channel_id" >> .env.test
        echo TWITCH_HOST="httpL//localhost:3696/twitch/" >> .env.test
        echo SE_API_HOST="http://localhost:3000/streamelements/" >> .env.test
        echo FEED_MODS_REWARD_ID="92af127c-7326-4483-a52b-b0da0be61c01" >> .env.test
        echo BROADCASTER_USER_ID=1337 >> .env.test
        echo REDIRECT_URI="http://localhost:3696/twitch/oauth" >> .env.test
        echo MESSAGE_COMPONENTS_CONFIG_PATH="resources/config/message_components.json" >> .env.test
    - name: Check formatting
      run: cargo fmt --check
    - name: Run cargo check
      run: cargo check
    - name: Run tests
      run: cargo test
      env:
        TWITCH_CLIENT_SECRET: ${{ secrets.TWITCH_CLIENT_SECRET }}
        SE_JWT: ${{ secrets.SE_JWT }}
        AWS_SESSION_TOKEN: ${{ secrets.AWS_SESSION_TOKEN }}
  build-and-deploy:
    name: Build and deploy
    needs: test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout the repository
        uses: actions/checkout@v4
      - name: Setup zig toolchain
        uses: mlugg/setup-zig@v2
      - name: Install cargo lambda
        run: curl -fsSL https://cargo-lambda.info/install.sh | sh
      - name: Authenticate to AWS
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ secrets.ASSUME_ROLE_NAME }}
          aws-region: ${{ secrets.AWS_REGION }}
          mask-aws-account-id: true
      - name: Fetch configuration file
        run: |
          aws s3 cp s3://${{ secrets.BUCKET_NAME }}/${{ env.CONFIG_FILE_PATH }} ${{ env.CONFIG_FILE_PATH }}
      - name: Cross compile to arm64
        run: |
          cargo lambda build --release --arm64 \
            --output-format zip \
            --include ${{ env.CONFIG_FILE_PATH }}
      - name: Deploy lambda function
        run: |
          aws lambda update-function \
            --function-name robochick
            --zip-file fileb://${{ env.TARGET_DIR }}
            --region ${{ secrets.AWS_REGION }} > /dev/null 2>& 1

name: Rust
'on':
  pull_request:
    branches: [ "main" ]
  push:
    branches: [ "main" ]
